.input-main-main-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.input-main-div {
    height: 100%;
    background-color: turquoise;
    text-align: center;
    padding: 10px;
}

.name-div {
    margin-bottom: 5px;
}
.msg-div {
    margin-bottom: 5px;
}
/* .btn-div {
    
} */